<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goodluck.a4u">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".loginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeSearch" />
        <activity android:name=".categoryItem" />
        <activity android:name=".categoryItem1" />
        <activity android:name=".categoryItem2" />
        <activity android:name=".categoryItem3" />
        <activity android:name=".categoryItem4" />
        <activity android:name=".categoryItem5" />
        <activity android:name=".categoryItem6" />
        <activity android:name=".categoryItem7" />
        <activity android:name=".categoryItem8"></activity>
    </application>

</manifest>